@{
	ViewBag.Title = "our products";
}
@section Styles
{
	<link href="~/Resources/CSS/2-col-portfolio.css" rel="stylesheet">
}

<!-- Page Content -->
<div class="container">
	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Our products
				<small>take a look at our great value metal</small>
			</h1>
		</div>
	</div>
	<!-- /.row -->
	<!-- Projects Row -->
	<div class="row">
		<div class="col-md-6 portfolio-item">
			<a href="#">
				<img class="img-responsive" src="~/Resources/images/products/gold coin 700x400.jpg" alt="Gold coins">
			</a>
			<h3>
				<a href="#">Gold coins</a>
			</h3>
			<p>Fine gold, capital gains tax free bullion coins.</p>
		</div>
		<div class="col-md-6 portfolio-item">
			<a href="#">
				<img class="img-responsive" src="~/Resources/images/products/gold bar 700x400.jpg" alt="Gold bars">
			</a>
			<h3>
				<a href="#">Gold bars</a>
			</h3>
			<p>Investment grade fine gold bars.</p>
		</div>
	</div>
	<!-- /.row -->
	<!-- Projects Row -->
	<div class="row">
		<div class="col-md-6 portfolio-item">
			<a href="#">
				<img class="img-responsive" src="~/Resources/images/products/silver coin 700x400.jpg" alt="Silver coins">
			</a>
			<h3>
				<a href="#">Silver coins</a>
			</h3>
			<p>Best value, capital gains tax free silver coins.</p>
		</div>
		<div class="col-md-6 portfolio-item">
			<a href="#">
				<img class="img-responsive" src="~/Resources/images/products/silver bars 700x400.jpg" alt="Siver bars">
			</a>
			<h3>
				<a href="#">Silver bars</a>
			</h3>
			<p>Cast and minted silver bullion bars.</p>
		</div>
	</div>
	<!-- /.row -->
	
	
</div>
<!-- /.container -->