@{
	ViewBag.Title = "Success";
}
<div class="jumbotron">
	<div class="container">
		<h2>Thanks for your order</h2>

		<p>Thank you for your order. You will receive a notification when your order has been dispatched.</p>
	</div>
</div>
